<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.learning.healthpro.mapper.FavoriteMapper">
    <insert id="insertFavorite" useGeneratedKeys="true" keyProperty="id">
        insert into favorite(user_id, post_id, date)
        values(#{user_id}, #{post_id}, #{date})
    </insert>

    <delete id="deleteFavorite">
        delete from favorite where user_id = #{userId} and post_id = #{postId}
    </delete>

    <select id="getFavorite" resultType="com.learning.healthpro.entity.Favorite">
        select id, user_id, post_id, date from favorite where user_id = #{userId} and post_id = #{postId}
    </select>

    <select id="getFavoriteList" resultType="com.learning.healthpro.entity.Favorite">
        select id, user_id, post_id, date from favorite where user_id = #{userId} order by id desc
    </select>

    <select id="getFavoritePosts" resultType="com.learning.healthpro.entity.Post">
        select p.id, p.category, p.title, p.content, p.image, p.likes, p.comments, p.date, p.user_id, p.user_name, p.status, p.is_top
        from post p inner join favorite f on p.id = f.post_id
        where f.user_id = #{userId}
        order by f.id desc
    </select>

    <select id="getFavoriteCount" resultType="int">
        select count(*) from favorite where user_id = #{userId}
    </select>
</mapper>
