<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.learning.healthpro.mapper.UserMapper">
    <select id="findPassWordByPhone" resultType="String">
        select password from user where phone = #{phone}
    </select>

    <select id="countByPhone" resultType="Long">
        select count(*) from user  where phone = #{phone}
    </select>

    <select id="findIdByPhone" resultType="int">
        select id from user where phone = #{phone}
    </select>

    <select id="getInfoById" resultType="com.learning.healthpro.entity.User">
        select name,phone,email,age,gender from user where id = #{id}
    </select>

    <insert id="insert">
        insert into user(name,password,phone,email) values(#{name},#{password},#{phone},#{email})
    </insert>

    <update id="UpdateUserInfo">
        update user
        <set>
            <if test="user.name != null and user.name != ''">
                name = #{user.name},
            </if>
            <if test="user.phone != null and user.phone != ''">
                phone = #{user.phone},
            </if>
            <if test="user.email != null and user.email != ''">
                email = #{user.email},
            </if>
            <if test="user.age != null and user.age != ''">
                age = #{user.age},
            </if>
            <if test="user.gender != null and user.gender != ''">
                gender = #{user.gender}
            </if>
        </set>
        where id = #{id}
    </update>

    <update id="UpdatePassWord">
        update user set password = #{password} where id = #{id}
    </update>
</mapper>
